@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 0%);
    /* Directly use the color defined in your Tailwind config */
    ;
}


/* .bg-home {
    background-image: url('/assets/images/home1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.text-neon {
    color: #39FF14;
    /* Directly use the color defined in your Tailwind config */
    ;
}


/* styles/globals.css */


/* styles/globals.css */


/* styles/globals.css */

.main-content {
    padding-top: 5rem;
    /* Adjust as needed */
}


/* styles/globals.css */

.navbar {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-radius: 9999px;
    overflow: hidden;
    z-index: 50;
    border: 3px solid rgb(162, 0, 255);
}

.navbar-content {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 9999px;
    padding: 0.5rem;
}


/* Responsive Styles */

@media (max-width: 768px) {
    .navbar {
        width: 90%;
        /* Increase width for smaller screens */
    }
    .navbar-content {
        padding: 1rem;
        /* Increase padding for better touch targets */
    }
    .navbar h1 {
        font-size: 1.5rem;
        /* Adjust font size for smaller screens */
    }
    .navbar ul {
        flex-direction: column;
        /* Stack items vertically */
        align-items: center;
        /* Center items */
    }
    .navbar ul li {
        margin: 0.5rem 0;
        /* Add spacing between items */
    }
}